In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("academic.csv")

In [4]:
print("The first five row :\n", df.head())

The first five row :
   gender NationalITy PlaceofBirth     StageID GradeID SectionID Topic  \
0      M          KW       KuwaIT  lowerlevel    G-04         A    IT
1      M          KW       KuwaIT  lowerlevel    G-04         A    IT
2      M          KW       KuwaIT  lowerlevel    G-04         A    IT
3      M          KW       KuwaIT  lowerlevel    G-04         A    IT
4      M          KW       KuwaIT  lowerlevel    G-04         A    IT

  Semester Relation  raisedhands  VisITedResources  AnnouncementsView  \
0        F   Father         15.0                16                  2
1        F   Father          NaN                20                  3
2        F   Father         10.0                 7                  0
3        F   Father         30.0                25                  5
4        F   Father          0.0                50                 12

   Discussion ParentAnsweringSurvey ParentschoolSatisfaction  \
0          20                   Yes                     Good
1          25                   Yes                     Good
2          30                    No                      Bad
3          35                    No                      Bad
4          50                    No                      Bad

  StudentAbsenceDays Class
0            Under-7     M
1            Under-7     M
2            Above-7     L
3            Above-7     L
4            Above-7     M

In [6]:
print("The last five row :\n", df.tail())

The last five row :
     gender NationalITy PlaceofBirth       StageID GradeID SectionID  \
475      F      Jordan       Jordan  MiddleSchool    G-08         A
476      F      Jordan       Jordan  MiddleSchool    G-08         A
477      F      Jordan       Jordan  MiddleSchool    G-08         A
478      F      Jordan       Jordan  MiddleSchool    G-08         A
479      F      Jordan       Jordan  MiddleSchool    G-08         A

         Topic Semester Relation  raisedhands  VisITedResources  \
475  Chemistry        S   Father          5.0                 4
476    Geology        F   Father         50.0                77
477    Geology        S   Father         55.0                74
478    History        F   Father         30.0                17
479    History        S   Father         35.0                14

     AnnouncementsView  Discussion ParentAnsweringSurvey  \
475                  5           8                    No
476                 14          28                    No
477                 25          29                    No
478                 14          57                    No
479                 23          62                    No

    ParentschoolSatisfaction StudentAbsenceDays Class
475                      Bad            Above-7     L
476                      Bad            Under-7     M
477                      Bad            Under-7     M
478                      Bad            Above-7     L
479                      Bad            Above-7     L

In [7]:
print("The any five row :\n", df.sample(5))

The any five row :
     gender NationalITy PlaceofBirth       StageID GradeID SectionID    Topic  \
9        F          KW       KuwaIT  MiddleSchool    G-07         B       IT
188      M          KW       KuwaIT  MiddleSchool    G-08         A   Arabic
238      F          KW       KuwaIT  MiddleSchool    G-07         B  Science
118      F          KW       KuwaIT    lowerlevel    G-02         C       IT
354      M      Jordan       Jordan    lowerlevel    G-02         B   French

    Semester Relation  raisedhands  VisITedResources  AnnouncementsView  \
9          F   Father         70.0                80                 25
188        S      Mum         75.0                71                 72
238        S      Mum         72.0                80                 58
118        F      Mum         24.0                35                 23
354        F      Mum         30.0                98                 42

     Discussion ParentAnsweringSurvey ParentschoolSatisfaction  \
9            70                   Yes                     Good
188          53                   Yes                     Good
238          66                   Yes                     Good
118          22                   Yes                     Good
354          21                   Yes                     Good

    StudentAbsenceDays Class
9              Under-7     M
188            Under-7     H
238            Above-7     M
118            Above-7     M
354            Under-7     H

In [8]:
print("The information about dataset :\n", df.info)

The information about dataset :
 <bound method DataFrame.info of     gender NationalITy PlaceofBirth       StageID GradeID SectionID  \
0        M          KW       KuwaIT    lowerlevel    G-04         A
1        M          KW       KuwaIT    lowerlevel    G-04         A
2        M          KW       KuwaIT    lowerlevel    G-04         A
3        M          KW       KuwaIT    lowerlevel    G-04         A
4        M          KW       KuwaIT    lowerlevel    G-04         A
..     ...         ...          ...           ...     ...       ...
475      F      Jordan       Jordan  MiddleSchool    G-08         A
476      F      Jordan       Jordan  MiddleSchool    G-08         A
477      F      Jordan       Jordan  MiddleSchool    G-08         A
478      F      Jordan       Jordan  MiddleSchool    G-08         A
479      F      Jordan       Jordan  MiddleSchool    G-08         A

         Topic Semester Relation  raisedhands  VisITedResources  \
0           IT        F   Father         15.0                16
1           IT        F   Father          NaN                20
2           IT        F   Father         10.0                 7
3           IT        F   Father         30.0                25
4           IT        F   Father          0.0                50
..         ...      ...      ...          ...               ...
475  Chemistry        S   Father          5.0                 4
476    Geology        F   Father         50.0                77
477    Geology        S   Father         55.0                74
478    History        F   Father         30.0                17
479    History        S   Father         35.0                14

     AnnouncementsView  Discussion ParentAnsweringSurvey  \
0                    2          20                   Yes
1                    3          25                   Yes
2                    0          30                    No
3                    5          35                    No
4                   12          50                    No
..                 ...         ...                   ...
475                  5           8                    No
476                 14          28                    No
477                 25          29                    No
478                 14          57                    No
479                 23          62                    No

    ParentschoolSatisfaction StudentAbsenceDays Class
0                       Good            Under-7     M
1                       Good            Under-7     M
2                        Bad            Above-7     L
3                        Bad            Above-7     L
4                        Bad            Above-7     M
..                       ...                ...   ...
475                      Bad            Above-7     L
476                      Bad            Under-7     M
477                      Bad            Under-7     M
478                      Bad            Above-7     L
479                      Bad            Above-7     L

[480 rows x 17 columns]>

In [9]:
print("The size of dataset :\n", df.size)

The size of dataset :
 8160

In [10]:
print("The shape of dataset :\n", df.shape)

The shape of dataset :
 (480, 17)

In [11]:
print("The datatype of dataset :\n", df.dtypes)

The datatype of dataset :
 gender                       object
NationalITy                  object
PlaceofBirth                 object
StageID                      object
GradeID                      object
SectionID                    object
Topic                        object
Semester                     object
Relation                     object
raisedhands                 float64
VisITedResources              int64
AnnouncementsView             int64
Discussion                    int64
ParentAnsweringSurvey        object
ParentschoolSatisfaction     object
StudentAbsenceDays           object
Class                        object
dtype: object

In [12]:
print("The columns of dataset :\n", df.columns)

The columns of dataset :
 Index(['gender', 'NationalITy', 'PlaceofBirth', 'StageID', 'GradeID',
       'SectionID', 'Topic', 'Semester', 'Relation', 'raisedhands',
       'VisITedResources', 'AnnouncementsView', 'Discussion',
       'ParentAnsweringSurvey', 'ParentschoolSatisfaction',
       'StudentAbsenceDays', 'Class'],
      dtype='object')

In [13]:
print("The Stastical knowledge of numerical :\n", df.describe())

The Stastical knowledge of numerical :
        raisedhands  VisITedResources  AnnouncementsView  Discussion
count   478.000000        480.000000         480.000000  480.000000
mean     46.939331         54.797917          37.918750   43.283333
std      31.375699         33.080007          26.611244   27.637735
min       0.000000          0.000000           0.000000    1.000000
25%      15.000000         20.000000          14.000000   20.000000
50%      50.000000         65.000000          33.000000   39.000000
75%      75.000000         84.000000          58.000000   70.000000
max     170.000000         99.000000          98.000000   99.000000

In [14]:
df.isnull().sum()

gender                      2
NationalITy                 0
PlaceofBirth                0
StageID                     0
GradeID                     0
SectionID                   0
Topic                       0
Semester                    0
Relation                    0
raisedhands                 2
VisITedResources            0
AnnouncementsView           0
Discussion                  0
ParentAnsweringSurvey       0
ParentschoolSatisfaction    0
StudentAbsenceDays          0
Class                       0
dtype: int64

In [16]:
df['gender'].fillna(df['gender'].mode()[0],inplace=True)

In [17]:
9df.isnull().sum()

gender                      0
NationalITy                 0
PlaceofBirth                0
StageID                     0
GradeID                     0
SectionID                   0
Topic                       0
Semester                    0
Relation                    0
raisedhands                 2
VisITedResources            0
AnnouncementsView           0
Discussion                  0
ParentAnsweringSurvey       0
ParentschoolSatisfaction    0
StudentAbsenceDays          0
Class                       0
dtype: int64

In [19]:
df['gender']=pd.Categorical(df['gender'])
df['gender']=df['gender'].cat.codes

In [20]:
print(df['gender'])

0      1
1      1
2      1
3      1
4      1
      ..
475    0
476    0
477    0
478    0
479    0
Name: gender, Length: 480, dtype: int8

In [23]:
df['VisITedResources']=df['VisITedResources'].astype(int)

In [24]:
print(df.dtypes)

gender                         int8
NationalITy                  object
PlaceofBirth                 object
StageID                      object
GradeID                      object
SectionID                    object
Topic                        object
Semester                     object
Relation                     object
raisedhands                 float64
VisITedResources              int32
AnnouncementsView             int64
Discussion                    int64
ParentAnsweringSurvey        object
ParentschoolSatisfaction     object
StudentAbsenceDays           object
Class                        object
dtype: object

In [25]:
df['Discussion']=(df['Discussion']-df['Discussion'].min())/(df['Discussion'].max()-df['Discussion'].min())

In [26]:
print(df['Discussion'])

0      0.193878
1      0.244898
2      0.295918
3      0.346939
4      0.500000
         ...
475    0.071429
476    0.275510
477    0.285714
478    0.571429
479    0.622449
Name: Discussion, Length: 480, dtype: float64